<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fortunestell</title>
    <style type="text/css">
        hr {
            border: 1px solid gray;
        }
    </style>
</head>
<body>
    <p th:text="#{email.activation.greeting(${sender})}">
        Sender
    </p>
    <p th:text="#{email.activation.recipient(${recipient})}">
        Recipient
    </p>
    <hr>
    <span th:text="#{email.activation.content1}">
    </span>
    <br>
    <span th:text="#{email.activation.content2}">
    </span>
    <br>
    <span th:text="#{email.activation.content3}">
    </span>
    <p>
        <a th:with="url=(@{|${accessUrl}|})" th:href="${url}" th:text="#{email.activation.url.txt}">
            Check email verification
        </a>
    </p>
</body>
</html>
